<main>
  <h1> All Mechanics </h1>
  <% @mechanics.each do |mechanic| %>
    <article id="mechanic-<%=mechanic.id %>">
      <h3><%= mechanic.name %></h3>
      <p><%= mechanic.experience %> years of experience<br/>
    </article>
  <% end %>
</main>
